{% extends "base.html" %}
{% block content %}
<h2>Pacientes</h2>
<a href="/form/patient" class="btn btn-sm btn-success mb-3">Novo Paciente</a>
<table class="table table-striped">
<tr><th>Nome</th><th>Telefone</th><th>Endereço</th><th>Ações</th></tr>
{% for p in patients %}
<tr>
  <td>{{ p.first_name }} {{ p.last_name }}</td>
  <td>{{ p.phone }}</td>
  <td>{{ p.address }}</td>
  <td><a href="/delete/patient/{{ p.id }}" class="btn btn-danger btn-sm">Excluir</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
